[submodule "src/plugins/PluginLogger"]
	path = src/plugins/PluginLogger
	url = https://github.com/CS499-PlayerPiano/PluginLogger
[submodule "src/plugins/PluginSynth"]
	path = src/plugins/PluginSynth
	url = https://github.com/CS499-PlayerPiano/PluginSynth
[submodule "src/plugins/PluginPianoEmulatorGui"]
	path = src/plugins/PluginPianoEmulatorGui
	url = https://github.com/CS499-PlayerPiano/PluginPianoEmulatorGui
[submodule "src/plugins/PluginArduinoPiano"]
	path = src/plugins/PluginArduinoPiano
	url = https://github.com/CS499-PlayerPiano/PluginArduinoPiano
[submodule "res/songs-db"]
	path = res/songs-db
	url = https://github.com/CS499-PlayerPiano/SongDB.git
[submodule "src/plugins/PluginWebAPI"]
	path = src/plugins/PluginWebAPI
	url = https://github.com/CS499-PlayerPiano/PluginWebAPI
