[submodule "src/plugins/PluginLogger"]
	path = src/plugins/PluginLogger
	url = https://github.com/CS499-PlayerPiano/PluginLogger
[submodule "src/plugins/PluginSynth"]
	path = src/plugins/PluginSynth
	url = https://github.com/CS499-PlayerPiano/PluginSynth
